.section-3 {

    display: flex;
    align-items: center;
    gap: 120px;

    h2 {
        width: 644px;
        font-weight: 400;
        font-size: 48px;
        line-height: 133% ;
        color: #303031;
        margin-top: 24px;
        margin-bottom: 24px;

    }

    p {
        width: 644px;
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        letter-spacing: -0.02em;
        color: #303031;

    }
}