.section-5 {

    .text{
        

    h2 {
        width: 895px;
        font-family: "Lilita One", sans-serif;

        font-size: 48px;
        text-align: center;
        color: #303031;
        margin-top: 160px;
        margin-bottom: 24px;
        margin-left: 230px;
    }

    p {
        width: 895px;
        font-size: 18px;
        text-align: center;
        color: #303031;
        margin-bottom: 48px;
        margin-left: 233px;
    }
}
}