.section-6 {

    .big {
        width: 427px;
        padding: 25px;
        border-radius: 16px;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
        background: var(--white);
        margin-bottom: 60px;


        h3 {
            width: 379px;
            font-weight: 700;
            font-size: 18px;
            line-height: 133%;
            letter-spacing: -0.02em;
            color: #303031;
        }

        p {
            width: 379px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: #303031;
            margin-bottom: 24px;
        }


    


            button {
                padding: 4px 8px;
                border-radius: 40px;
                border: none;
                background: #71A894;
                color: #fff;
                display: flex;
                align-items: center;
                }

                .apply{
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-align: right;
color: #303031;

                }
            }
        }
        
    
